.postList {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 2rem;
  margin: 2rem 0;

  article {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 21/9;

    h2 {
      // font-family: var(--sansSerifFont);
      font-size: var(--font16);
      font-weight: 400;
    }
  }
}