.loadingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #222;
  animation: sk-rotateplane 1.4s infinite ease-in-out;
}


@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}