.dashboard {
  display: grid;
  grid-template-columns: 1fr 280px;

  height: 100%;

  main {
    width: 100%;
  }

  .content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .notifications {
    border-left: 1px solid var(--colDivLines);
    padding: 2rem;
  }

  @media (max-width: 1300px) {
    grid-template-columns: 1fr;
    
    .notifications {
      display: none;
    }
  }
}

