 .form {
  > *:not(:last-child) {
    margin-bottom: 2rem;
  }
  
  .bottomButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .error {
    color: rgb(190, 30, 30);
  }
}
