.sidebar {
  height: 100%;
  padding: 3rem; 

  border-right: 1px solid var(--colDivLines);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: var(--font14);
    font-weight: 500;
    color: var(--colFont);

    a {
      display: block;
      margin-bottom: 1.6rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    ul {
      padding-left: 1rem;
      font-weight: 400;
    }
  }

  li {
    display: block;
  }

}

