.wrapper {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.158);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 1rem;
}

.inner {
  background: var(--colBg);
  padding: 2rem;
  
  &.restricted {
    width: 100%;
    max-width: 500px;
  }

  &.fit {
    width: auto;
  }

  &.full {
    width: 100%;
  }
}
