.button {
  font-family: var(--monospaceFont);
  font-size: var(--font14);
  margin: 0;
  padding: 0;
  display: block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  padding: .6rem .8rem;

  &.dark {
    color: #fff;
    background: var(--colFont);
  }

  &.light {
    color: var(--colFont);
    background: #fff;
  }

  &.red {
    color: #D32424;
    background: #FFE4E4;

    &:hover {
      color: #D32424;
      background: #ffdcdc;
    }
  }

  &.s {
    font-size: var(--font13);
    padding: .4rem .5rem;
  }

  &.l {
    font-size: var(--font-16);
    padding: 1.3rem .7rem;
  }
}