.button {
  font-family: var(--monospaceFont);
  font-size: var(--font14);
  margin: 0;
  padding: 0;
  display: block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  padding: .6rem .8rem;

  &.dark {
    color: #fff;
    background: var(--colFont);
  }

  &.light {
    color: var(--colFont);
    background: #fff;
  }

  &.lg {
    padding: 1.3rem .4rem;
  }
}